= stylesheet_link_tag  "http://cache.amap.com/lbs/static/main1119.css"
= javascript_include_tag "http://cache.amap.com/lbs/static/es5.min.js"
= javascript_include_tag "http://webapi.amap.com/maps?v=1.3&key=f2c1178ddca72e990d5f17edcad40f8b"
= javascript_include_tag "http://cache.amap.com/lbs/static/addToolbar.js"

div#container style="width:1400px; height:720px"


javascript:
  var map = new AMap.Map('container', {
    resizeEnable: true,
    zoom:11,
    center: [116.397428, 39.90923]   
  });

  var circle = new AMap.Circle({
    center: new AMap.LngLat("116.403322", "39.920255"),// 圆心位置
    radius: 1000, //半径
    strokeColor: "#F33", //线颜色
    strokeOpacity: 1, //线透明度
    strokeWeight: 3, //线粗细度
    fillColor: "#ee2200", //填充颜色
    fillOpacity: 0.35//填充透明度
  });
  circle.setMap(map);

  var positions = #{@positions}
  console.log(positions)

  for(var j = 0; j < positions.length; j += 1) {
    var lnglat = new AMap.LngLat(positions[j][0],positions[j][1])
    var circle = new AMap.Circle({
        center: lnglat,
        radius: 10000,
        strokeColor: "#F33",
        strokeOpacity: 1,
        strokeWeight: 3,
        fillColor: "#003300",
        fillOpacity: 0.35
    });
    circle.setMap(map);
  }

