= stylesheet_link_tag  "http://cache.amap.com/lbs/static/main1119.css"
= javascript_include_tag "http://cache.amap.com/lbs/static/es5.min.js"
= javascript_include_tag "http://webapi.amap.com/maps?v=1.3&key=f2c1178ddca72e990d5f17edcad40f8b"
= javascript_include_tag "http://cache.amap.com/lbs/static/addToolbar.js"

div#container 


javascript:
  var map = new AMap.Map('container', {
    resizeEnable: true,
    zoom:11,
    center: [116.30164849, 39.97455465]   
  });

  var crumbs = #{@crumbs}

  for(var j = 0; j < crumbs.length; j += 1) {
    var circle = new AMap.Circle({
        center: crumbs[j],
        map: map,
        radius: 10,
        strokeColor: "#00FF33",
        strokeOpacity: 1,
        strokeWeight: 3,
        fillColor: "#00FF33",
        fillOpacity: 1
    });
  }

  var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, -30)});
  var positions = #{@positions.to_json.html_safe}

  for(var j = 0; j < positions.length; j += 1) {
    var circle = new AMap.Circle({
        center: positions[j][0],
        map: map,
        radius: 15,
        strokeColor: "#3498DB",
        strokeOpacity: 1,
        strokeWeight: 3,
        fillColor: "#3498DB",
        fillOpacity: 1
    });    
    circle.content = "姓名:"+positions[j][1][0]+"等级:"+positions[j][1][1]
    circle.on('click', circleClick);
    circle.emit('click', {target: circle});
  }

  function circleClick(e) {
    infoWindow.setContent(e.target.content);
    infoWindow.open(map, e.target.getCenter());
  }